In [4]:
import pandas as pd

# Real-World Data Example

Here, we look at a new dataset and try to answer some questions about it.

In [9]:
df = pd.read_csv('data/iowa_liquor/Iowa_Liquor_Sales.csv', index_col=0)

In [10]:
df.head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,S29198800001,11/20/2015,2191,Keokuk Spirits,1013 MAIN,KEOKUK,52632,"1013 MAIN\nKEOKUK 52632\n(40.39978, -91.387531)",56.0,Lee,...,297,Templeton Rye w/Flask,6,750,$18.09,$27.14,6,$162.84,4.50,1.19
1,S29195400002,11/21/2015,2205,Ding's Honk And Holler,900 E WASHINGTON,CLARINDA,51632,"900 E WASHINGTON\nCLARINDA 51632\n(40.739238, ...",73.0,Page,...,297,Templeton Rye w/Flask,6,750,$18.09,$27.14,12,$325.68,9.00,2.38
2,S29050300001,11/16/2015,3549,Quicker Liquor Store,1414 48TH ST,FORT MADISON,52627,"1414 48TH ST\nFORT MADISON 52627\n(40.624226, ...",56.0,Lee,...,249,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,20,150,$6.40,$9.60,2,$19.20,0.30,0.08
3,S28867700001,11/04/2015,2513,Hy-Vee Food Store #2 / Iowa City,812 S 1ST AVE,IOWA CITY,52240,812 S 1ST AVE\nIOWA CITY 52240\n,52.0,Johnson,...,237,Knob Creek w/ Crystal Decanter,3,1750,$35.55,$53.34,3,$160.02,5.25,1.39
4,S29050800001,11/17/2015,3942,Twin Town Liquor,104 HIGHWAY 30 WEST,TOLEDO,52342,"104 HIGHWAY 30 WEST\nTOLEDO 52342\n(41.985887,...",86.0,Tama,...,249,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,20,150,$6.40,$9.60,2,$19.20,0.30,0.08

In [ ]:
df.columns

1) Which store had the highest total dollars of sales?
    - Is this the same store that had the highest volume (in liters) of alcohol sold?

2) Which item has the highest cost per liter?

3) What is the most common pack size?

4) What is the most commonly sold item?

5) What day in 2015 was the most money made? (Across all stores)

6) Which zip code drinks the most? (in liters)

7) Does the data set contain any null values?

8) What is the average state bottle cost?
    - Max cost?
    - Min cost?
    - 50%?

9) What is the total volume sold in Iowa City in 2013?

10) Which month (average, across all years) sees the highest sales?

11) Which item has the lowest cost per bottle in a pack?

12) What is the most popular item at Wilkie Liquors?

13) From which item does Wilkie Liquors earn the most of its revenue?

14) Do prices for the same item differ across different stores?

15) Which store sells the most liquor in the city of Des Moines?

16) Make a plot about at least one of these questions: